@model ConstructionMVC.Models.Fornecedor
@{
	ViewData["Title"] = "Novo de Fornecedor";
}

<main class="container mt-3">
	<div class="col-sm-12">
		<h1>@ViewData["Title"]</h1>
		<form method="post" class="mt-3">
			<div class="form-group">
				<label class="form-label">Razão Social</label>
				<input class="form-control col-12" />
			</div>
		</form>
	</div>
</main>