@model List<CategoriaModel>
@{
	ViewData["Title"] = "Lista de Categorias";
}

<header class="container p-3">
	<div class="row align-items-center">
		<div class="col-sm-6"><h1>@ViewData["Title"]</h1></div>
		<div class="col-sm-6 text-end"><a class="btn btn-info" asp-action="Criar">Nova Categoria</a></div>
	</div>
</header>

<main class="container">
	<table class="table">
		<thead>
			<tr>
				<th>Nome da Categoria</th>
				<th class="text-center">Ações</th>
			</tr>
		</thead>
		<tbody>
			@foreach (CategoriaModel categoria in Model)
			{
				<tr>
					<td>@categoria.Nome</td>
					<td class="text-center">
						<a class="btn btn-primary btn-sm" asp-controller="Categoria" asp-action="Editar" asp-route-id="@categoria.Id">Alterar</a>
						<form class="d-inline-block" asp-controller="Categoria" asp-action="Apagar" asp-route-id="@categoria.Id" method="post">
							<button class="btn btn-danger btn-sm" onclick="ConfirmaExclusao(this);" type="button">Excluir</button>
						</form>
					</td>
				</tr>
			}

		</tbody>
	</table>
</main>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_CustomConfirm");
	}
}